<a href="https://colab.research.google.com/github/MK316/Python_intro/blob/main/Copy_of_requests_gradio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [ ]:
URL = ('http://apis.data.go.kr/B552584/ArpltnStatsSvc/'
      'getCtprvnMesureSidoLIst?'
      'sidoName=서울'
      '&searchCondition=hour'
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json'
      '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')
response = requests.get(URL)

#### http://jsonviewer.stack.hu/ (copy json here to view json)

In [ ]:
r = response.json()
r

In [ ]:
items = r['response']['body']['items']

cityName = [item['cityName'] for item in items]
pm10Value = [item['pm10Value'] for item in items]
pm25Value = [item['pm25Value'] for item in items]
so2Value = [item['so2Value'] for item in items]
coValue = [item['coValue'] for item in items]
o3Value = [item['o3Value'] for item in items]
no2Value = [item['no2Value'] for item in items]

cityName = pd.Series(cityName)
pm10Value = pd.Series(pm10Value)   
pm25Value = pd.Series(pm25Value)
so2Value = pd.Series(so2Value)
coValue = pd.Series(coValue)
o3Value = pd.Series(o3Value)
no2Value = pd.Series(no2Value)

df = pd.DataFrame({ 'cityName': cityName, 'pm10Value': pm10Value, 'pm25Value': pm25Value, 'so2Value': so2Value, 'coValue': coValue, 'o3Value': o3Value, 'no2Value': no2Value})

In [ ]:
# 함수로 만든 경우임:

def test(sidoName):
  URL = ('http://apis.data.go.kr/B552584/ArpltnStatsSvc/'
      'getCtprvnMesureSidoLIst?'
      'sidoName='+sidoName+
      '&searchCondition=hour'
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json'
      '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')
  
  response = requests.get(URL)
  r = response.json()
  items = r['response']['body']['items']

  cityName = [item['cityName'] for item in items]
  pm10Value = [item['pm10Value'] for item in items]
  pm25Value = [item['pm25Value'] for item in items]
  so2Value = [item['so2Value'] for item in items]
  coValue = [item['coValue'] for item in items]
  o3Value = [item['o3Value'] for item in items]
  no2Value = [item['no2Value'] for item in items]

  cityName = pd.Series(cityName)
  pm10Value = pd.Series(pm10Value)   
  pm25Value = pd.Series(pm25Value)
  so2Value = pd.Series(so2Value)
  coValue = pd.Series(coValue)
  o3Value = pd.Series(o3Value)
  no2Value = pd.Series(no2Value)

  df = pd.DataFrame({ 'cityName': cityName, 'pm10Value': pm10Value, 'pm25Value': pm25Value, 'so2Value': so2Value, 'coValue': coValue, 'o3Value': o3Value, 'no2Value': no2Value})
  return df

In [ ]:
df

   cityName pm10Value pm25Value so2Value coValue o3Value no2Value
0       강남구        27        15    0.004     0.3   0.035    0.019
1       강동구        32        19    0.002     0.3   0.029    0.019
2       강북구        29        17    0.003     0.3   0.039    0.011
3       강서구        33        18    0.004     0.4   0.028    0.025
4       관악구        39        24    0.003     0.5   0.030    0.024
5       광진구        33        16    0.003     0.4   0.028    0.020
6       구로구        28        14    0.004     0.3   0.040    0.010
7       금천구        29        16    0.004     0.3   0.031    0.023
8       노원구        32        23    0.004     0.5   0.024    0.028
9       도봉구        26        11    0.005     0.4   0.038    0.012
10     동대문구        30        17    0.004     0.3   0.036    0.018
11      동작구        32        19    0.003     0.3   0.033    0.019
12      마포구        34        18    0.003     0.4   0.020    0.033
13     서대문구        34        13    0.004     0.6   0.033    0.016
14      서초구        25        11    0.003     0.4   0.033    0.018
15      성동구        30         9    0.003     0.2   0.030    0.017
16      성북구        31        11    0.003     0.4   0.032    0.021
17      송파구        29        14    0.003     0.3   0.035    0.019
18      양천구        31        18    0.004     0.4   0.036    0.017
19     영등포구        28        16    0.003     0.4   0.021    0.030
20      용산구        32        21    0.003     0.4   0.021    0.025
21      은평구        26        19    0.003     0.4   0.028    0.019
22      종로구        31        21    0.004     0.4   0.034    0.018
23       중구        23        15    0.004     0.4   0.036    0.021
24      중랑구        30        16    0.003     0.3   0.035    0.018

In [ ]:
iface = gr.Interface(test, gr.inputs.Dropdown(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주', '세종']), outputs=['dataframe'])
iface.launch(debug=False)

Colab notebook detected. To show errors in colab notebook, set `debug=True` in `launch()`
Running on public URL: https://28704.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)

(<fastapi.applications.FastAPI at 0x7f0f249939d0>,
 'http://127.0.0.1:7860/',
 'https://28704.gradio.app')